.profile {
  margin: 0;
  /* height: 100vh; */
}

.profile h1 {
  margin: 0;
}

.ownedGame {
  cursor: pointer;
}

.edit {
  text-decoration: none;
  color: white;
  align-items: center;
  display: flex;
}

.edit img {
  margin-right: 10px;
}

.edit:hover {
  color: yellow;
}

.logout:hover {
  color: red;
  transform: scale(1.02);
}

.owned {
  cursor: pointer;
  transform: scale(1.02);
}
