.carousel {
  display: flex !important;
  justify-content: space-around;
  height: 30vh;

}

/* .carousel img {
  margin-right: 5%;
} */


.centerimg {
  display: flex !important;
  justify-content: center;
}

/* .image {
  margin-right: 10px;
} */