.gameName {
  display: flex;
  font-size: 2rem;
  width: 100vh;
  justify-content: center;
  align-items: center;
}

.SearchResult {
  height: 100%;
  border-bottom: 1px solid #e0e0e0;

}

.SearchResult:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.SearchGame {
  /* margin: 10px 0; */
  padding: 10px 0;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}